* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(search_img/Gonka1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#race {
    background-color: green;
    color: white;
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    animation-name: races;
    animation-direction: left;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes races {
    0% {left: 100%; } 
    100% { left: 0px; } } 


.jeep1 {
    left: 0px;
    position: relative;
    margin-top: 500px;
    width: 70px;
    height: 50px;
    padding: 10px;
    margin-left: 20px;
    animation-timing-function: ease-out;
    animation-name: car1;
    animation-direction: right;
    animation-duration: 10s;
}
.jeep2 {
    left: 0px;
    position: absolute;
    margin-top: 15px;
    width: 70px;
    height: 50px;
    padding: 5px;
    margin-left: 20px;
    animation-name: car2;
    animation-direction: right;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
}
@keyframes car1 {
    0% {left: 0px;}
    100% {left: 1000px;}
}
@keyframes car2 {
    0% {left: 0px;}
    100% {left: 1000px;}
    
}
main:hover div {
    left: 1000px;

}

  div { animation: jeep2function 20s linear infinite;}

